.table {
    background-color: deeppink; color:lavender
           }
           h1{
            font-family:"Arial";
            }
            
#link{
    color:fuchsia;font-family: Impact;
}
body{
   background-color: pink;
}

